/* Google Fonts에서 로드한 고급 폰트를 사용 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* 배경색 및 버튼 색상 개선 */
body {
  background-color: #f4f7fc; /* 연한 배경색 */
}

.button.is-primary {
  background-color: #00d1b2; /* Bulma의 primary 색상 */
  border-color: #00d1b2;
}

.button.is-primary:hover {
  background-color: #00b19e;
  border-color: #00b19e;
}

.button.is-outlined {
  color: #00d1b2;
  border: 1px solid #00d1b2;
}

.button.is-outlined:hover {
  background-color: #00d1b2;
  color: white;
}
